
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="myCashLabel" data-translate="projectApp.cash.home.createOrEditLabel">Create or edit a Cash</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="col-md-12">
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.cash.cash" for="field_cash">Cash</label>
                <input type="number" class="form-control" name="cash" id="field_cash"
                       ng-model="vm.cash.cash"
                       required/>
                <div ng-show="editForm.cash.$invalid">
                    <p class="help-block"
                       ng-show="editForm.cash.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.cash.$error.number" data-translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.cash.transactionType" for="field_transactionType">Transaction Type</label>
                <select class="form-control" name="transactionType" ng-model="vm.cash.transactionType" id="field_transactionType">
                    <option value="CASH_IN" data-translate="projectApp.TransactionType.CASH_IN">CASH_IN</option>
                    <option value="CASH_OUT" data-translate="projectApp.TransactionType.CASH_OUT">CASH_OUT</option>
                    <option value="CASH_ACCEPT" data-translate="projectApp.TransactionType.CASH_ACCEPT">CASH_ACCEPT</option>
                    <option value="CASH_SEND" data-translate="projectApp.TransactionType.CASH_SEND">CASH_SEND</option>
                    <option value="PAYMENT" data-translate="projectApp.TransactionType.PAYMENT">PAYMENT</option>
                    <option value="INVEST" data-translate="projectApp.TransactionType.INVEST">INVEST</option>
                    <option value="INTERNAL" data-translate="projectApp.TransactionType.INTERNAL">INTERNAL</option>
                    <option value="SALARY" data-translate="projectApp.TransactionType.SALARY">SALARY</option>
                </select>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
