
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myThanaLabel" data-translate="projectApp.thana.home.createOrEditLabel">Create or edit a Thana</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.thana.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.thana.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.thana.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.thana.code"
                    required/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.thana.active"/>
            <div ng-show="editForm.active.$invalid">
                <p class="help-block"
                    ng-show="editForm.active.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.latitude" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.thana.latitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.longitude" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.thana.longitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="number" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                    ng-model="vm.thana.lastModifiedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projectApp.thana.lastModifyDate" for="field_lastModifyDate">Last Modify Date</label>
                <div class="input-group">
                    <input id="field_lastModifyDate" type="text" class="form-control" name="lastModifyDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.thana.lastModifyDate" is-open="vm.datePickerOpenStatus.lastModifyDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifyDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="projectApp.thana.district" for="field_district">District</label>
            <select class="form-control" id="field_district" name="district" ng-model="vm.thana.district" ng-options="District as District.name for District in vm.districts track by District.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
