<div>
    <h2 data-translate="projectApp.thana.home.title">Thanas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="thana.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="projectApp.thana.home.createLabel">
                        Create new Thana
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="projectApp.thana.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="projectApp.thana.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="projectApp.thana.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="projectApp.thana.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="projectApp.thana.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedBy"><span data-translate="projectApp.thana.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifyDate"><span data-translate="projectApp.thana.lastModifyDate">Last Modify Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="district.name"><span data-translate="projectApp.thana.district">District</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="thana in vm.thanas track by thana.id">
                    <td><a ui-sref="thana-detail({id:thana.id})">{{thana.id}}</a></td>
                    <td>{{thana.name}}</td>
                    <td>{{thana.code}}</td>
                    <td>{{thana.active}}</td>
                    <td>{{thana.latitude}}</td>
                    <td>{{thana.longitude}}</td>
                    <td>{{thana.lastModifiedBy}}</td>
                        <td>{{thana.lastModifyDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="district-detail({id:thana.district.id})">{{thana.district.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="thana-detail({id:thana.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="thana.edit({id:thana.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="thana.delete({id:thana.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
