
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="myThanaLabel" data-translate="projectApp.thana.home.createOrEditLabel">Create or edit a Thana</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.thana.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="vm.thana.name"
                       required/>
                <div ng-show="editForm.name.$invalid && editForm.name.$dirty">
                    <p class="help-block"
                       ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.thana.code" for="field_code">Code</label>
                <input type="text" class="form-control" name="code" id="field_code"
                       ng-model="vm.thana.code" check-on-database="code" table="thana" column="code"
                       required/>
                <div ng-show="editForm.code.$invalid  && editForm.code.$dirty ">
                    <p class="help-block"
                       ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div ng-show="editForm.code.$dirty && editForm.code.$error.isUnique">
                    <p class="unique" data-translate="entity.validation.notUnique">
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.thana.latitude" for="field_latitude">Latitude</label>
                <input type="text" class="form-control" name="latitude" id="field_latitude"
                       ng-model="vm.thana.latitude"
                />
            </div>
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.thana.longitude" for="field_longitude">Longitude</label>
                <input type="text" class="form-control" name="longitude" id="field_longitude"
                       ng-model="vm.thana.longitude"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label data-translate="projectApp.thana.country" for="field_country">Country</label>
                <select class="form-control" id="field_country" ng-change="loadDivision(country.id)" name="country" ng-model="country" ng-options="Country as Country.name for Country in vm.countries track by Country.id">
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-6">
                <label data-translate="projectApp.thana.division" for="field_division">division</label>
                <select class="form-control" id="field_division" name="division" ng-change="loadDistrict(division.id)" ng-model="division" ng-options="Division as Division.name for Division in vm.divisions track by Division.id">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label data-translate="projectApp.thana.district" for="field_district">District</label>
                <select class="form-control" id="field_district" name="district" ng-model="vm.thana.district" ng-options="District as District.name for District in vm.districts track by District.id">
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="control-label" data-translate="entity.activeStatus" for="field_active">Active</label>

                <div class="input-margin" id="field_active" >
                    <label class="radio-inline">
                        <input type="radio" name="active"
                               ng-checked="vm.thana.active == true || vm.thana.id == null"
                               ng-value="true" data-ng-model="vm.thana.active">
                        <span translate="status.active">active</span></label>
                    <label class="radio-inline">
                        <input type="radio" name="inActive"
                               ng-checked="vm.thana.active == false"
                               ng-value="false"
                               data-ng-model="vm.thana.active">
                        <span translate="status.inactive">inactive</span></label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-pr">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
