
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="myDistrictLabel" data-translate="projectApp.district.home.createOrEditLabel">Create or edit a District</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.district.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="vm.district.name"
                       required/>
                <div ng-show="editForm.name.$dirty">
                    <p class="help-block"
                       ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.district.code" for="field_code">Code</label>
                <input type="text" class="form-control" name="code" id="field_code"
                       ng-model="vm.district.code"
                       required/>
                <div ng-show="editForm.code.$invalid && editForm.code.$dirty">
                    <p class="help-block"
                       ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.district.latitude" for="field_latitude">Latitude</label>
                <input type="text" class="form-control" name="latitude" id="field_latitude"
                       ng-model="vm.district.latitude"
                />
            </div>
            <div class="col-md-6">
                <label class="control-label" data-translate="projectApp.district.longitude" for="field_longitude">Longitude</label>
                <input type="text" class="form-control" name="longitude" id="field_longitude"
                       ng-model="vm.district.longitude"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label data-translate="projectApp.district.division" for="field_division">division</label>
                <select class="form-control" id="field_division" name="division" ng-model="vm.district.division" ng-options="Division as Division.name for Division in vm.divisions track by Division.id">
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="control-label" data-translate="entity.activeStatus" for="field_active">Active</label>

                <div class="input-margin" id="field_active" >
                    <label class="radio-inline">
                        <input type="radio" name="active" required
                               ng-checked="vm.district.active == true"
                               value="true" ng-model="vm.district.active">
                        <span translate="status.active">active</span></label>
                    <label class="radio-inline">
                        <input type="radio" name="inActive"
                               ng-checked="vm.district.active == false"
                               value="false"
                               ng-model="vm.district.active">
                        <span translate="status.inactive">inactive</span></label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
